---
---

<!--@import "{{ site.theme }}";-->
.fluidMedia {
    position: absolute;
    padding-top: 30px;
    margin: auto;
    width: 1400px;
    height: 1000px;
    overflow: hidden;
}

.fluidMedia iframe {
    position: absolute;
    border:none;
    width: 1400px;
    height: 1000px;
    overflow: hidden;
}
