---
---

<!--@import "{{ site.theme }}";-->
.fluidMedia {
    position: absolute;
    width: 1400px;
    height: 1000px;
    overflow: hidden;
}

.fluidMedia iframe {
    position: absolute;
    border: none;
    width: 1400px;
    height: 1000px;
    overflow: visible;
}
